@using Dieseltech.Models;
@{
    Layout = null;
    List < Sp_Get_LoadHeadInformation_Edit_Result> LoadHead = (List < Sp_Get_LoadHeadInformation_Edit_Result>)ViewBag.LoadHead;
    List<PickupDeliveryInformation> LoadPickup = (List<PickupDeliveryInformation>)ViewBag.LoadPickup;
    List<PickupDeliveryInformation> LoadDelivery = (List<PickupDeliveryInformation>)ViewBag.LoadDelivery;

}

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />


    <title></title>

    <style>
        body {
            /* background: rgb(204,204,204);*/
        }

        page {
            background: white;
            display: block;
            /* margin: 0 auto;
                margin-bottom: 0.5cm;*/
            /*box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);*/
        }

            page[size='A4'] {
                width: 24cm;
                height: 32cm;
            }

        /*table, th, td {
                border: 1px solid black;
                border-collapse: collapse;
            }*/
    </style>

</head>
<body>

    <page size='A4' @*style="width: 21cm; height:29.7cm "*@>
        @for (int i = 0; i < @ViewBag.Count; i++)
        {
                <div class="">
                    <img src="/assets/img/Logo_1.png" style="height:50px;" alt="Alternate Text" />
                </div>
                <div class="" style="border: 2px solid black;">
                    <div class="" style="border-bottom: 2px solid black;">
                        <label>Date:@LoadHead[0].RegistrationDate </label>
                        <label></label>
                        <label style="margin-left: 100px;">Load#: @ViewBag.LoadNumberModel</label>
                        <label style="font-size: 20px; font-weight: bold; margin-left: 90px;">BILL OF LADING</label>
                        <label style="font-size: 20px; font-weight: bold; margin-left: 180px;">Page 1 of ______</label>
                    </div>
                    <div class="" style="border-right: 2px solid black; width: 474px; height: 104px; float: left;">
                        <div style="background: black; color: white; ">
                            <label style="margin-left: 200px;">SHIP FROM</label>
                        </div>
                        @if(ViewBag.PICount>i)
                        {
                                <label style="margin-left: 10px;">Name:<small style="font-size: 10px; margin-left: 4px;">@LoadPickup[i].ShipperName</small> </label><br />
                                <label style="margin-left: 10px;">Address:<small style="font-size: 10px; margin-left: 4px;">@LoadPickup[i].ShipperAddress</small></label><br />
                                <label style="margin-left: 10px;">City/State/Zip:<small style="font-size: 10px; margin-left: 4px;">@LoadPickup[i].CityName/ @LoadPickup[i].StateCode/@LoadPickup[i].ZipCode</small> </label><br />
                                <label style="margin-left: 10px;">SID#:</label>
                                <label style="margin-left: 350px;">FOB:<input type="checkbox" name="name" value="" /></label>
                        }
                        else
                        {
                                <label style="margin-left: 10px;">Name:</label><br />
                                <label style="margin-left: 10px;">Address:</label><br />
                                <label style="margin-left: 10px;">City/State/Zip:</label><br />
                                <label style="margin-left: 10px;">SID#:</label>
                                <label style="margin-left: 350px;">FOB:<input type="checkbox" name="name" value="" /></label>
                        }
                       
                    </div>
                    <div class="" style="margin-left: 476px; height: 102px; border-bottom: 2px solid black; ">
                        <div style="color: white;">
                            <label style="margin-left: 200px;"></label>
                        </div>
                        <label style="font-weight: bold;margin-left:10px;">Bill of Lading Number: ________________________</label><br />

                    </div>
                    <div class="" style="border-right: 2px solid black; width: 474px; height: 104px; float: left;">
                        <div style="background: black; color: white; ">
                            <label style="margin-left: 200px;">SHIP TO</label>
                        </div>
                         @if(ViewBag.DICount>i)
                        {
                                 <label style="margin-left: 10px;">Name:<small style="font-size: 10px; margin-left: 4px;">@LoadDelivery[i].ShipperName</small></label>
                                <label style="margin-left: 90px;">Location #: __________</label><br />
                                <label style="margin-left: 10px; ">Address:<small style="font-size: 10px; margin-left: 4px;">@LoadDelivery[i].ShipperAddress</small></label><br />
                                <label style="margin-left: 10px; ">City/State/Zip:<small style="font-size: 10px; margin-left: 4px;">@LoadDelivery[i].CityName/@LoadDelivery[i].StateCode/@LoadDelivery[i].ZipCode</small></label><br />
                                <label style="margin-left: 10px;">CID#:</label>
                                <label style="margin-left: 350px;">FOB:<input type="checkbox" name="name" value="" /></label>
                        }
                        else
                        {
                                <label style="margin-left: 10px;">Name:</label>
                                <label style="margin-left: 90px;">Location #: __________</label><br />
                                <label style="margin-left: 10px;">Address:</label><br />
                                <label style="margin-left: 10px;">City/State/Zip:</label><br />
                                <label style="margin-left: 10px;">CID#:</label>
                                <label style="margin-left: 350px;">FOB:<input type="checkbox" name="name" value="" /></label>
                        }
                       
                    </div>
                    <div class="" style="margin-left: 476px; height: 78px; border-bottom: 2px solid black; ">
                        <label style="font-weight: bold;margin-left:10px;">CARRIER NAME:<small style="font-size: 10px;margin-left:4px;">@LoadHead[0].CarrierName</small> </label><br />
                        <label style="margin-left:10px;">Trailer number:</label><br /><br />
                        <label style="margin-left:10px;">Seal number(s):</label><br />

                    </div>
                    <div class="" style="border-right: 2px solid black; width: 474px; height: 98px; float: left;">
                        <div style="background: black; color: white; ">
                            <label style="margin-left: 74px;">THIRD PARTY FREIGHT CHARGES BILL TO:</label>
                        </div>
                        <label style="margin-left: 10px;">Name:</label><br />
                        <label style="margin-left: 10px;">Address:</label><br />
                        <label style="margin-left: 10px;">City/State/Zip:</label>
                    </div>
                    <div class="" style="margin-left: 476px; height: 88px; border-bottom: 2px solid black; ">
                        <label style="font-weight: bold;margin-left:10px;">SCAC:</label><br />
                        <label style="font-weight: bold; margin-left: 10px;">Pro number:</label><br />
                    </div>
                    <div class="" style="border-right: 2px solid black; border-top: 2px solid black; width: 474px; height: 74px; float: left;">
                        <label style="margin-left: 10px;">SPECIAL INSTRUCTIONS:<small style="font-size: 10px;margin-left:4px;">@LoadHead[0].CarrierInstructions</small> </label>
                    </div>
                    <div class="" style="margin-left: 476px; height: 64px; border-bottom: 2px solid black; ">
                        <label style="font-weight: bold;margin-left:10px;">Freight Charge Terms: <small>(freight charges are prepaid unless</small></label><br />
                        <small style="font-weight: bold;margin-left:10px;">marked otherwise)</small><br />
                        <label style="font-weight: bold; margin-left: 10px;">Prepaid ________</label>
                        <label style="font-weight: bold; margin-left: 10px;">Collect _______</label>
                        <label style="font-weight: bold; margin-left: 10px;">3rd Party ______</label>
                    </div>
                    <div class="" style="margin-left: 476px; height:40px; border-bottom: 2px solid black; ">
                        <input type="checkbox" name="name" value="" style=" margin-left: 40px;" />
                        <label style="margin-left: 44px;">Master Bill of Lading: with attached underlying</label><br />
                        <label style="margin-left: 17px; font-size: 12px;">(check box)</label>
                        <label style="margin-left: 26px;">Bills of Lading</label>
                    </div>
                    <div style="background: black; color: white; ">
                        <label style="margin-left: 306px;">CUSTOMER ORDER INFORMATION</label>
                    </div>
                    <table style="border: 1px solid black; border-collapse: collapse;">
                        <tr>
                            <td style="font-weight: bold; border: 1px solid black; border-collapse: collapse; width: 270px; text-align: center; ">CUSTOMER ORDER NUMBER</td>
                            <td style="font-weight: bold; border: 1px solid black; border-collapse: collapse; width: 70px; text-align: center; "># PKGS</td>
                            <td style="font-weight: bold; border: 1px solid black; border-collapse: collapse; width: 90px; text-align: center; ">WEIGHT</td>
                            <td style="font-weight: bold; border: 1px solid black; border-collapse: collapse; width: 120px; text-align: center; " colspan="2">PALLET/SLIP <br /><small style="font-weight:100;">(CIRCLE ONE)</small></td>
                            <td style="font-weight: bold; border: 1px solid black; border-collapse: collapse; width: 336px; text-align: center; ">ADDITIONAL SHIPPER INFO</td>
                        </tr>
                        <tr>
                            <td style=" border: 1px solid black; border-collapse: collapse; width: 270px; text-align: center; "></td>
                            <td style=" border: 1px solid black; border-collapse: collapse; width: 70px; text-align: center; "></td>
                            <td style=" border: 1px solid black; border-collapse: collapse; width: 90px; text-align: center; "></td>
                            <td style=" border: 1px solid black; border-collapse: collapse; width: 60px; text-align: center; ">Y</td>
                            <td style=" border: 1px solid black; border-collapse: collapse; width: 60px; text-align: center; ">N</td>
                            <td style=" border: 1px solid black; border-collapse: collapse; width: 336px; text-align: center; "> </td>
                        </tr>
                        <tr>
                            <td style=" border: 1px solid black; border-collapse: collapse; width: 270px; text-align: center; "></td>
                            <td style=" border: 1px solid black; border-collapse: collapse; width: 70px; text-align: center; "></td>
                            <td style=" border: 1px solid black; border-collapse: collapse; width: 90px; text-align: center; "></td>
                            <td style=" border: 1px solid black; border-collapse: collapse; width: 60px; text-align: center; ">Y</td>
                            <td style=" border: 1px solid black; border-collapse: collapse; width: 60px; text-align: center; ">N</td>
                            <td style=" border: 1px solid black; border-collapse: collapse; width: 336px; text-align: center; "> </td>
                        </tr>
                        <tr>
                            <td style=" border: 1px solid black; border-collapse: collapse; width: 270px; text-align: center; "></td>
                            <td style=" border: 1px solid black; border-collapse: collapse; width: 70px; text-align: center; "></td>
                            <td style=" border: 1px solid black; border-collapse: collapse; width: 90px; text-align: center; "></td>
                            <td style=" border: 1px solid black; border-collapse: collapse; width: 60px; text-align: center; ">Y</td>
                            <td style=" border: 1px solid black; border-collapse: collapse; width: 60px; text-align: center; ">N</td>
                            <td style=" border: 1px solid black; border-collapse: collapse; width: 336px; text-align: center; "> </td>
                        </tr>
                        <tr>
                            <td style=" border: 1px solid black; border-collapse: collapse; width: 270px; text-align: center; "></td>
                            <td style=" border: 1px solid black; border-collapse: collapse; width: 70px; text-align: center; "></td>
                            <td style=" border: 1px solid black; border-collapse: collapse; width: 90px; text-align: center; "></td>
                            <td style=" border: 1px solid black; border-collapse: collapse; width: 60px; text-align: center; ">Y</td>
                            <td style=" border: 1px solid black; border-collapse: collapse; width: 60px; text-align: center; ">N</td>
                            <td style=" border: 1px solid black; border-collapse: collapse; width: 336px; text-align: center; "> </td>
                        </tr>
                        <tr>
                            <td style=" border: 1px solid black; border-collapse: collapse; width: 270px; text-align: center; "></td>
                            <td style=" border: 1px solid black; border-collapse: collapse; width: 70px; text-align: center; "></td>
                            <td style=" border: 1px solid black; border-collapse: collapse; width: 90px; text-align: center; "></td>
                            <td style=" border: 1px solid black; border-collapse: collapse; width: 60px; text-align: center; ">Y</td>
                            <td style=" border: 1px solid black; border-collapse: collapse; width: 60px; text-align: center; ">N</td>
                            <td style=" border: 1px solid black; border-collapse: collapse; width: 336px; text-align: center; "> </td>
                        </tr>
                        <tr>
                            <td style=" border: 1px solid black; border-collapse: collapse; width: 270px; text-align: center; "></td>
                            <td style=" border: 1px solid black; border-collapse: collapse; width: 70px; text-align: center; "></td>
                            <td style=" border: 1px solid black; border-collapse: collapse; width: 90px; text-align: center; "></td>
                            <td style=" border: 1px solid black; border-collapse: collapse; width: 60px; text-align: center; ">Y</td>
                            <td style=" border: 1px solid black; border-collapse: collapse; width: 60px; text-align: center; ">N</td>
                            <td style=" border: 1px solid black; border-collapse: collapse; width: 336px; text-align: center; "> </td>
                        </tr>
                        <tr>
                            <td style=" border: 1px solid black; border-collapse: collapse; width: 270px; text-align: center; "></td>
                            <td style=" border: 1px solid black; border-collapse: collapse; width: 70px; text-align: center; "></td>
                            <td style=" border: 1px solid black; border-collapse: collapse; width: 90px; text-align: center; "></td>
                            <td style=" border: 1px solid black; border-collapse: collapse; width: 60px; text-align: center; ">Y</td>
                            <td style=" border: 1px solid black; border-collapse: collapse; width: 60px; text-align: center; ">N</td>
                            <td style=" border: 1px solid black; border-collapse: collapse; width: 336px; text-align: center; "> </td>
                        </tr>
                        <tr>
                            <td style=" border: 1px solid black; border-collapse: collapse; width: 270px; text-align: center; "></td>
                            <td style=" border: 1px solid black; border-collapse: collapse; width: 70px; text-align: center; "></td>
                            <td style=" border: 1px solid black; border-collapse: collapse; width: 90px; text-align: center; "></td>
                            <td style=" border: 1px solid black; border-collapse: collapse; width: 60px; text-align: center; ">Y</td>
                            <td style=" border: 1px solid black; border-collapse: collapse; width: 60px; text-align: center; ">N</td>
                            <td style=" border: 1px solid black; border-collapse: collapse; width: 336px; text-align: center; "> </td>
                        </tr>
                        <tr>
                            <td style="font-weight: bold; border: 1px solid black; border-collapse: collapse; width: 270px;">GRAND TOTAL</td>
                            <td style=" border: 1px solid black; border-collapse: collapse; width: 70px; text-align: center; "></td>
                            <td style=" border: 1px solid black; border-collapse: collapse; width: 90px; text-align: center; "></td>
                            <td style=" border: 1px solid black; border-collapse: collapse; width: 60px; text-align: center; background: grey; " colspan="3"></td>
                        </tr>

                    </table>
                    <div style="background: black; color: white; ">
                        <label style="margin-left: 364px; ">CARRIER INFORMATION</label>
                    </div>
                    <table style="border: 1px solid black; border-collapse: collapse;">
                        <tr>
                            <td style="font-weight: bold; border: 1px solid black; border-collapse: collapse; width: 134px; text-align: center; font-size: 12px; " colspan="2">HANDLING UNIT</td>
                            <td style="font-weight: bold; border: 1px solid black; border-collapse: collapse; width: 134px; text-align: center; " colspan="2">PACKAGE</td>
                            <td style="font-weight: bold; border: 1px solid black; border-collapse: collapse; width: 90px; text-align: center; " rowspan="2">WEIGHT</td>
                            <td style="font-weight: bold; border: 1px solid black; border-collapse: collapse; width: 60px; text-align: center; " rowspan="2">H.M.<br /><small style="font-weight:100;">(X)</small> </td>
                            <td style="font-weight: bold; border: 1px solid black; border-collapse: collapse; width: 524px; text-align: center; " rowspan="2">COMMODITY DESCRIPTION<br /><small style="font-weight: 100; font-size: 10px;">Commodities requiring special or additional care or attention in handling or stowing must be so marked and packaged as to ensure safe transportation with ordinary care.</small><br /><small style="font-size: 10px;">See Section 2(e) of NMFC Item 360</small></td>
                            <td style="font-weight: bold; border: 1px solid black; border-collapse: collapse; width: 134px; text-align: center; " colspan="2">LTL ONLY</td>
                        </tr>
                        <tr>
                            <td style="font-weight: bold; border: 1px solid black; border-collapse: collapse; width: 66px; text-align: center; ">QTY</td>
                            <td style="font-weight: bold; border: 1px solid black; border-collapse: collapse; width: 66px; text-align: center; ">TYPE</td>
                            <td style="font-weight: bold; border: 1px solid black; border-collapse: collapse; width: 66px; text-align: center; "> QTY</td>
                            <td style="font-weight: bold; border: 1px solid black; border-collapse: collapse; width: 66px; text-align: center; ">TYPE</td>
                            <td style="font-weight: bold; border: 1px solid black; border-collapse: collapse; width: 66px; text-align: center; ">NMFC #</td>
                            <td style="font-weight: bold; border: 1px solid black; border-collapse: collapse; width: 66px; text-align: center; ">CLASS</td>
                        </tr>
                        <tr style="height: 24px;">
                            <td style="font-weight: bold; border: 1px solid black; border-collapse: collapse; width: 66px; text-align: center; "></td>
                            <td style="font-weight: bold; border: 1px solid black; border-collapse: collapse; width: 66px; text-align: center; "></td>
                            <td style="font-weight: bold; border: 1px solid black; border-collapse: collapse; width: 66px; text-align: center; "> </td>
                            <td style="font-weight: bold; border: 1px solid black; border-collapse: collapse; width: 66px; text-align: center; "></td>
                            <td style="font-weight: bold; border: 1px solid black; border-collapse: collapse; width: 90px; text-align: center; "></td>
                            <td style="font-weight: bold; border: 1px solid black; border-collapse: collapse; width: 60px; text-align: center; "></td>
                            <td style="font-weight: bold; border: 1px solid black; border-collapse: collapse; width: 524px; text-align: center; "></td>
                            <td style="font-weight: bold; border: 1px solid black; border-collapse: collapse; width: 66px; text-align: center; "></td>
                            <td style="font-weight: bold; border: 1px solid black; border-collapse: collapse; width: 66px; text-align: center; "></td>
                        </tr>
                        <tr style="height: 24px;">
                            <td style="font-weight: bold; border: 1px solid black; border-collapse: collapse; width: 66px; text-align: center; "></td>
                            <td style="font-weight: bold; border: 1px solid black; border-collapse: collapse; width: 66px; text-align: center; "></td>
                            <td style="font-weight: bold; border: 1px solid black; border-collapse: collapse; width: 66px; text-align: center; "> </td>
                            <td style="font-weight: bold; border: 1px solid black; border-collapse: collapse; width: 66px; text-align: center; "></td>
                            <td style="font-weight: bold; border: 1px solid black; border-collapse: collapse; width: 90px; text-align: center; "></td>
                            <td style="font-weight: bold; border: 1px solid black; border-collapse: collapse; width: 60px; text-align: center; "></td>
                            <td style="font-weight: bold; border: 1px solid black; border-collapse: collapse; width: 524px; text-align: center; "></td>
                            <td style="font-weight: bold; border: 1px solid black; border-collapse: collapse; width: 66px; text-align: center; "></td>
                            <td style="font-weight: bold; border: 1px solid black; border-collapse: collapse; width: 66px; text-align: center; "></td>
                        </tr>
                        <tr style="height: 24px;">
                            <td style="font-weight: bold; border: 1px solid black; border-collapse: collapse; width: 66px; text-align: center; "></td>
                            <td style="font-weight: bold; border: 1px solid black; border-collapse: collapse; width: 66px; text-align: center; "></td>
                            <td style="font-weight: bold; border: 1px solid black; border-collapse: collapse; width: 66px; text-align: center; "> </td>
                            <td style="font-weight: bold; border: 1px solid black; border-collapse: collapse; width: 66px; text-align: center; "></td>
                            <td style="font-weight: bold; border: 1px solid black; border-collapse: collapse; width: 90px; text-align: center; "></td>
                            <td style="font-weight: bold; border: 1px solid black; border-collapse: collapse; width: 60px; text-align: center; "></td>
                            <td style="font-weight: bold; border: 1px solid black; border-collapse: collapse; width: 524px; text-align: center; "></td>
                            <td style="font-weight: bold; border: 1px solid black; border-collapse: collapse; width: 66px; text-align: center; "></td>
                            <td style="font-weight: bold; border: 1px solid black; border-collapse: collapse; width: 66px; text-align: center; "></td>
                        </tr>
                        <tr style="height: 24px;">
                            <td style="font-weight: bold; border: 1px solid black; border-collapse: collapse; width: 66px; text-align: center; "></td>
                            <td style="font-weight: bold; border: 1px solid black; border-collapse: collapse; width: 66px; text-align: center; "></td>
                            <td style="font-weight: bold; border: 1px solid black; border-collapse: collapse; width: 66px; text-align: center; "> </td>
                            <td style="font-weight: bold; border: 1px solid black; border-collapse: collapse; width: 66px; text-align: center; "></td>
                            <td style="font-weight: bold; border: 1px solid black; border-collapse: collapse; width: 90px; text-align: center; "></td>
                            <td style="font-weight: bold; border: 1px solid black; border-collapse: collapse; width: 60px; text-align: center; "></td>
                            <td style="font-weight: bold; border: 1px solid black; border-collapse: collapse; width: 524px; text-align: center; "></td>
                            <td style="font-weight: bold; border: 1px solid black; border-collapse: collapse; width: 66px; text-align: center; "></td>
                            <td style="font-weight: bold; border: 1px solid black; border-collapse: collapse; width: 66px; text-align: center; "></td>
                        </tr>
                        <tr style="height: 24px;">
                            <td style="font-weight: bold; border: 1px solid black; border-collapse: collapse; width: 66px; text-align: center; "></td>
                            <td style="font-weight: bold; border: 1px solid black; border-collapse: collapse; width: 66px; text-align: center; "></td>
                            <td style="font-weight: bold; border: 1px solid black; border-collapse: collapse; width: 66px; text-align: center; "> </td>
                            <td style="font-weight: bold; border: 1px solid black; border-collapse: collapse; width: 66px; text-align: center; "></td>
                            <td style="font-weight: bold; border: 1px solid black; border-collapse: collapse; width: 90px; text-align: center; "></td>
                            <td style="font-weight: bold; border: 1px solid black; border-collapse: collapse; width: 60px; text-align: center; "></td>
                            <td style="font-weight: bold; border: 1px solid black; border-collapse: collapse; width: 66px; text-align: center; " colspan="3"></td>
                        </tr>
                        <tr style="height: 24px;">
                            <td style="font-weight: bold; border: 1px solid black; border-collapse: collapse; width: 66px; text-align: center; "></td>
                            <td style="font-weight: bold; border: 1px solid black; border-collapse: collapse; width: 66px; text-align: center; "></td>
                            <td style="font-weight: bold; border: 1px solid black; border-collapse: collapse; width: 66px; text-align: center; "> </td>
                            <td style="font-weight: bold; border: 1px solid black; border-collapse: collapse; width: 66px; text-align: center; "></td>
                            <td style="font-weight: bold; border: 1px solid black; border-collapse: collapse; width: 90px; text-align: center; "></td>
                            <td style="font-weight: bold; border: 1px solid black; border-collapse: collapse; width: 60px; text-align: center; "></td>
                            <td style="font-weight: bold; border: 1px solid black; border-collapse: collapse; width: 66px; text-align: center; " colspan="3"></td>
                        </tr>
                        <tr style="height: 24px;">
                            <td style="font-weight: bold; border: 1px solid black; border-collapse: collapse; width: 66px; text-align: center; "></td>
                            <td style="font-weight: bold; border: 1px solid black; border-collapse: collapse; width: 66px; text-align: center; "></td>
                            <td style="font-weight: bold; border: 1px solid black; border-collapse: collapse; width: 66px; text-align: center; "> </td>
                            <td style="font-weight: bold; border: 1px solid black; border-collapse: collapse; width: 66px; text-align: center; "></td>
                            <td style="font-weight: bold; border: 1px solid black; border-collapse: collapse; width: 90px; text-align: center; "></td>
                            <td style="font-weight: bold; border: 1px solid black; border-collapse: collapse; width: 60px; text-align: center; "></td>
                            <td style="font-weight: bold; border: 1px solid black; border-collapse: collapse; width: 524px; text-align: center; "></td>
                            <td style="font-weight: bold; border: 1px solid black; border-collapse: collapse; width: 66px; text-align: center; "></td>
                            <td style="font-weight: bold; border: 1px solid black; border-collapse: collapse; width: 66px; text-align: center; "></td>
                        </tr>
                        <tr style="height: 24px;">
                            <td style="font-weight: bold; border: 1px solid black; border-collapse: collapse; width: 66px; text-align: center; "></td>
                            <td style="font-weight: bold; border: 1px solid black; border-collapse: collapse; width: 66px; text-align: center; "></td>
                            <td style="font-weight: bold; border: 1px solid black; border-collapse: collapse; width: 66px; text-align: center; "> </td>
                            <td style="font-weight: bold; border: 1px solid black; border-collapse: collapse; width: 66px; text-align: center; "></td>
                            <td style="font-weight: bold; border: 1px solid black; border-collapse: collapse; width: 90px; text-align: center; "></td>
                            <td style="font-weight: bold; border: 1px solid black; border-collapse: collapse; width: 60px; text-align: center; "></td>
                            <td style="font-weight: bold; border: 1px solid black; border-collapse: collapse; width: 524px; text-align: center; "></td>
                            <td style="font-weight: bold; border: 1px solid black; border-collapse: collapse; width: 66px; text-align: center; "></td>
                            <td style="font-weight: bold; border: 1px solid black; border-collapse: collapse; width: 66px; text-align: center; "></td>
                        </tr>
                        <tr style="height: 24px;">
                            <td style="font-weight: bold; border: 1px solid black; border-collapse: collapse; width: 66px; text-align: center; "></td>
                            <td style="font-weight: bold; border: 1px solid black; border-collapse: collapse; width: 66px; text-align: center;background:grey; "></td>
                            <td style="font-weight: bold; border: 1px solid black; border-collapse: collapse; width: 66px; text-align: center; "> </td>
                            <td style="font-weight: bold; border: 1px solid black; border-collapse: collapse; width: 66px; text-align: center; background: grey; "></td>
                            <td style="font-weight: bold; border: 1px solid black; border-collapse: collapse; width: 90px; text-align: center; "></td>
                            <td style="font-weight: bold; border: 1px solid black; border-collapse: collapse; width: 60px; text-align: center; background: grey; "></td>
                            <td style="font-weight: bold; border: 1px solid black; border-collapse: collapse; width: 524px; text-align: center; ">GRAND TOTAL</td>
                            <td style="font-weight: bold; border: 1px solid black; border-collapse: collapse; width: 66px; text-align: center; background: grey; "></td>
                            <td style="font-weight: bold; border: 1px solid black; border-collapse: collapse; width: 66px; text-align: center; background: grey;"></td>
                        </tr>


                    </table>

                    <div class="" style="border-right: 2px solid black; width: 474px; height:80px; float: left; border-bottom: 2px solid black;border-top: 2px solid black; ">

                        <small style="margin-left: 10px; font-size: 10px;">Where the rate is dependent on value, shippers are required to state specifically in writing the agreed or</small><br />
                        <small style="margin-left: 10px; font-size: 10px;">declared value of the property as follows:</small><br />
                        <small style="margin-left: 10px; font-size: 10px;">“The agreed or declared value of the property is specifically stated by the shipper to be not exceeding</small><br />
                        <small style="margin-left: 10px; font-size: 10px;">__________________ per ___________________.”</small><br />

                    </div>
                    <div class="" style="margin-left: 476px; height: 80px; border-bottom: 2px solid black; border-top: 2px solid black; ">
                        <label style="font-weight: bold;margin-left:10px;">COD Amount: $ ______________________</label><br />
                        <label style="font-weight: bold; margin-left: 34px;">Fee Terms: &nbsp;&nbsp;Collect:&nbsp;</label><input type="checkbox" name="name" value="" />&nbsp;&nbsp;<label style="font-weight: bold; margin-left: 10px;">Prepaid:&nbsp;</label><input type="checkbox" name="name" value="" /><br />
                        <label style="font-weight: bold; margin-left: 56px;">Customer check acceptable:&nbsp;</label><input type="checkbox" name="name" value="" />&nbsp;&nbsp;

                    </div>
                    <div class="" style=" border-bottom: 2px solid black;">
                        <label style="font-weight: bold;margin-left:10px;">NOTE Liability Limitation for loss or damage in this shipment may be applicable. See 49 U.S.C.  14706(c)(1)(A) and (B).</label>

                    </div>
                    <div class="" style="border-right: 2px solid black; width: 474px; height: 82px ; float: left; border-bottom: 2px solid black;">

                        <small style="margin-left: 10px; font-size: 10px;">RECEIVED, subject to individually determined rates or contracts that have been agreed upon in writing between</small><br />
                        <small style="margin-left: 10px; font-size: 10px;">the carrier and shipper, if applicable, otherwise to the rates, classifications and rules that have been established</small><br />
                        <small style="margin-left: 10px; font-size: 10px;"> by the carrier and are available to the shipper, on request, and to all applicable state and federal regulations.</small>

                    </div>
                    <div class="" style="border-bottom: 2px solid black; height: 82px; ">
                        <p style="margin-left: 10px; font-size: 10px; display: inline-block;">The carrier shall not make delivery of this shipment without payment of freight<br />and all other lawful charges.</p>
                        <p style="margin-left: 10px; font-size: 14px; font-weight: bold;display: inline-block; ">_______________________________________Shipper Signature</p>

                    </div>
                    <div class="" style="height: 86px; border-right: 2px solid black; width: 264px; float: left; ">
                        <label style="font-weight: bold;margin-left:10px;">SHIPPER SIGNATURE / DATE</label><br />
                        <p style="margin-left: 10px; font-size: 8px; display: inline-block;">This is to certify that the above named materials are properly classified,<br />packaged, marked and labeled, and are in proper condition for<br />transportation according to the applicable regulations of the DOT.</p>

                    </div>
                    <div class="" style="height: 86px; border-right: 2px solid black; width: 300px; float: left; ">
                        <label style="font-weight: bold;margin-left:10px;">Trailer Loaded:&nbsp;&nbsp; Freight Counted:</label><br />
                        <input type="checkbox" name="name" value="" style="margin-left:10px;" />&nbsp;<small style="font-size: 9px;">By Shipper</small><input type="checkbox" name="name" value="" style="margin-left: 54px; " />&nbsp;<small style="font-size: 9px;">By Shipper</small><br />
                        <input type="checkbox" name="name" value="" style="margin-left:10px;" />&nbsp;<small style="font-size: 9px;">By Driver</small><input type="checkbox" name="name" value="" style="margin-left: 58px; " />&nbsp;<small style="font-size: 9px;">By Driver/pallets said to contain</small><br />
                        <input type="checkbox" name="name" value="" style="margin-left: 126px;" />&nbsp;<small style="font-size: 9px;">By Driver/Pieces</small><br />
                    </div>
                    <div class="" style=" border-bottom: 2px solid black; height: 86px;">
                        <label style="font-weight: bold;margin-left:10px;">CARRIER SIGNATURE / PICKUP DATE</label><br />
                        <p style="margin-left: 10px; font-size: 8px; display: inline-block; ">Carrier acknowledges receipt of packages and required placards. Carrier certifies <br />emergency response information was made available and/or carrier has the DOT<br />emergency response information was made available and/or carrier has the DOT<br /><b>Property described above is received in good order, except as noted</b></p>

                    </div>
                </div>
                }
    </page>




</body>
</html>
