
@using Dieseltech.Models;
@model Dieseltech.Models.sp_Get_Carrier_Helper_List_Result
@{
    ViewBag.Title = "Broker Helper";

    List<sp_Get_Broker_Helper_List_Result> list = (List<sp_Get_Broker_Helper_List_Result>)ViewBag.BrokerHelperList;
}
<head>


   

    <link rel="stylesheet" type="text/css" href="/assets/css/font-awesome.min.css">

    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
    
</head>

<div class="content">
    <div class="row">
        <div class="col-sm-4 col-3">
            <h4 class="page-title">Broker Helper</h4>
        </div>
        <div class="col-sm-8 col-9 text-right m-b-20">


            <a id="remove" style="color: white;background-color: #e80000;" href="#" data-toggle="modal" data-target="#add_recipentEmail" class=" open-AddBookDialog btn btn-primary btn-rounded float-right"><i class="fa fa-plus"></i> Add Broker Helper</a>


        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-border table-striped custom-table  g-dataTable mb-0">
                    <thead>
                        <tr>
                            <th class="carrier_helper_id" hidden>id</th>
                            <th class="carrier__id" hidden>BrokerId</th>
                            <th>Broke Name </th>
                            <th>Broker Helper</th>
                            <th hidden>Active Flag </th>
                            <th>Active </th>
                            <th class="text-right">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in list)
                        {
                            <tr>
                                <td class="recipient_id" hidden>@item.BrokerID</td>
                                <td class="CarrierHelper_id" hidden>@item.BrokerHelperId</td>
                                <td class="CarrierName_id">@item.Name</td>
                                <td class="CarrierHelperName_id">@item.BrokerHelperName</td>
                                <td hidden class="IsActive">@item.IsActive</td>

                                @if (item.IsActive == false)
                                {
                                    <td>
                                        <div class="badge badge-danger">Non-Active</div>

                                    </td>
                                }
                                else
                                {
                                    <td>
                                        <div class="badge badge-success">Active</div>

                                    </td>
                                }

                                <td class="text-right">

                                    <a id="remove" class="open-AddBookDialog " href="#" data-toggle="modal" data-target="#Edit_CarrierHelper"><i class="remove fa fa-pencil m-r-5"></i> </a>
                                    <a id="remove" class="open-AddBookDialog " style="color:red;" href="#" data-toggle="modal" data-target="#delete_agenda"><i class="remove fa fa-trash-o m-r-5"></i> </a>

                                    <!--<div class="dropdown dropdown-action">
                            <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                            <div class="dropdown-menu dropdown-menu-right">
                                                        @*<a class="dropdown-item" href="@Url.Action("Edit", "Event", new { id = @item.CarrierHelperId })"><i class="fa fa-pencil m-r-5"></i> Edit</a>*@


                                                        <!--<a id="remove" class="open-AddBookDialog dropdown-item" href="#" data-toggle="modal" data-target="#Edit_CarrierHelper"><i class="remove fa fa-pencil m-r-5"></i> Edit</a>
                                <a id="remove" class="open-AddBookDialog dropdown-item" href="#" data-toggle="modal" data-target="#delete_agenda"><i class="remove fa fa-trash-o m-r-5"></i> Delete</a>
                            </div>
                        </div>-->
                                </td>

                            </tr>
                        }


                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>

<div id="delete_agenda" class="modal fade delete-modal" role="dialog">
    <div class="modal-dialog ">
        @using (Html.BeginForm("DeleteBrokerHelper", "Definition", FormMethod.Post))
        {@Html.AntiForgeryToken()
        <div class="modal-content">
            <div class="modal-body text-center">
                <input type="text" id="BrokerHelperId" name="BrokerHelperId" class="form-control" hidden />
                <img src="~/assets/img/sent.png" alt="" width="50" height="46">
                <h3>Are you sure want to delete this?</h3>
                <div class="m-t-20">
                    <a href="#" class="btn btn-white" data-dismiss="modal">Close</a>

                    <button type="submit" class="btn btn-danger">Delete</button>
                </div>
            </div>
        </div>
    }
    </div>

</div>



<div id="Edit_CarrierHelper" class="modal fade delete-modal" role="dialog">
    <div class="modal-dialog ">


        @using (Html.BeginForm("EditBrokerHelper", "Definition", FormMethod.Post))
        {@Html.AntiForgeryToken()
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header">
                <p class="heading lead">Modify Broker Helper</p>

                <button type="button" style="color:white" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="white-text">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <form>

                            <input type="text" id="id" name="id" class="form-control" hidden />

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="input-group">
                                        @*<div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <a id="remove" class="open-AddBookDialog " href="#" data-toggle="modal" data-target="#add_recipent"><i class="fa fa-plus"></i> </a>
                                        </span>
                                    </div>*@
                                        @Html.DropDownList("Brokerid", ViewBag.broker as IEnumerable<SelectListItem>, "Select Broker Name", new { @class = "form-control" })
                                    </div>

                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input class="form-control" type="text" id="Broker_Helper" name="BrokerName_id" placeholder="Broker Helper" required>
                                        @*<label  name ="UserId" id="UserId" hidden>@Session["User_id"]/</label>*@
                                    </div>
                                </div>

                            </div>

                            @*<div class="row">
                            <input type="text" id="id" name="id" class="form-control" hidden />
                            <div class="col-md-6">
                                <div class="form-group" id="ddlCarrierHelperID">
                                        @Html.DropDownListFor(model => model.CarrierID, ViewBag.carriers as IEnumerable<SelectListItem>, "Select Carrier Name", new { @class = "form-control" })
                                </div>

                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Carrier Helper </label>
                                    <input class="form-control" type="text" id="CarrierName_id" name="CarrierName_id">
                                </div>
                            </div>


                        </div>*@
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Active</label>
                                        <input class="form-control" style="width: 18px;height: 18px" id="Actives" name="IsActives" checked="checked" value="true" type="checkbox">

                                        @*<label><input class="form-control" style="width:12px;height:12px" id="Active" name="IsActive" checked="checked" value="true" type="checkbox">Actives</label>*@
                                    </div>
                                </div>

                           

                                <div class="col-md-6">
                                    <div class="m-t-5 text-right">
                                        <a href="#" class="btn btn-white" data-dismiss="modal">Close</a>
                                        <button type="submit" class="btn btn-primary" style="color: white;background-color: #e80000;">Update</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    }
    </div>

</div>




<div id="add_recipent" class="modal fade delete-modal" role="dialog">
    <div class="modal-dialog ">
        @using (Html.BeginForm("Index", "Recipient", FormMethod.Post))
        {@Html.AntiForgeryToken()
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header">
                <p class="heading lead">Add Broker Helper</p>

                <button type="button" style="color:white" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="white-text">&times;</span>
                </button>
            </div>
            <div class="modal-body ">
                <div class="row">
                    <div class="col-lg-12  ">
                        <form>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Recipent Title</label>
                                        <input class="form-control" type="text" id="recipientName" name="recipientName">
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">

                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="m-t-5 text-right">
                                        <a href="#" class="btn btn-white" data-dismiss="modal">Close</a>
                                        <button type="submit" class="btn btn-primary" style="color:white;background-color: #e80000;">Add</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    }
    </div>
</div>


<div id="add_recipentEmail" class="modal fade delete-modal" role="dialog">
    <div class="modal-dialog ">
        @using (Html.BeginForm("SaveBrokerHelper", "Definition", FormMethod.Post))
        {@Html.AntiForgeryToken()
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header">
                <p class="heading lead">Add Broker Helper</p>

                <button type="button" style="color:white" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="white-text">&times;</span>
                </button>
            </div>
            <div class="modal-body ">
                <div class="row">
                    <div class="col-lg-12  ">
                        <form>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Broker </label>
                                    <div class="input-group">
                                        @*<div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <a id="remove" class="open-AddBookDialog " href="#" data-toggle="modal" data-target="#add_recipent"><i class="fa fa-plus"></i> </a>
                                        </span>
                                    </div>*@
                                        @Html.DropDownList("Brokerid", ViewBag.broker as IEnumerable<SelectListItem>, "Select Broker Name", new { @class = "form-control" })
                                    </div>

                                </div>
                                <div class="col-md-6">
                                    <label>Broker Helper</label>
                                    <div class="form-group">
                                        <input class="form-control" type="text" id="Broker_Helper" name="BrokerHelperName" placeholder="Broker Helper" required>
                                        @*<label  name ="UserId" id="UserId" hidden>@Session["User_id"]/</label>*@
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Active</label>
                                        <input class="form-control" style="width: 18px;height: 18px" id="Active" maxlength="8" name="IsActive" checked="checked" value="true" type="checkbox">

                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="m-t-5 text-right">
                                        <a href="#" class="btn btn-white" data-dismiss="modal">Close</a>
                                        <button type="submit" class="btn btn-primary" style="color:white;background-color: #e80000;">Add</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    }
    </div>
</div>



<script>

    $(document).on("click", ".open-AddBookDialog", function () {


        //alert($(this).children('td').eq(0).is(':checked'));

        var myModal = $('#Edit_CarrierHelper');



         @*<td class="recipient_id" hidden>@item.BrokerID</td>
                                <td class="CarrierHelper_id" hidden>@item.BrokerHelperId</td>
                                <td class="CarrierName_id">@item.Name</td>
                                <td class="CarrierHelperName_id">@item.BrokerHelperName</td>
                                <td class="IsActive">@item.IsActive</td>*@

        var recipient_id = $(this).closest('tr').find('.recipient_id').text().trim();

        $("#Brokerid").val(recipient_id);
        var country_id = $(this).closest('tr').find('.CarrierHelper_id').text().trim();
        var CountryName = $(this).closest('tr').find('.CarrierName_id').text().trim();

        var CarrierHelperName_id = $(this).closest('tr').find('.CarrierHelperName_id').text().trim();

        //var CarrierID = $(this).closest('tr').find('.recipient_id').text().trim();

        var activestatus = $(this).closest('tr').find('.IsActive').text().trim();
        var IsActive;

        console.log(activestatus);
        if (activestatus == 'False') {
            $("#Actives").attr('checked', false);
        }
        if (activestatus == 'True') {
            $("#Actives").attr('checked', true);
        }


        $("#id", myModal).val(country_id);
        $("#Broker_Helper", myModal).val(CountryName);
        $("#Broker_Helper", myModal).val(CarrierHelperName_id);


        $("#Active", myModal).val(IsActive);

    });
</script>



<script>

    $(document).on("click", ".open-AddBookDialog", function () {
        var myModal = $('#delete_agenda');
        var CarrierHelperId = $(this).closest('tr').find('.CarrierHelper_id').text();
        $("#BrokerHelperId", myModal).val(CarrierHelperId);
    });
</script>
<script src="/assets/js/jquery-3.2.1.min.js"></script>


