@using Dieseltech.Models;
@{
    ViewBag.Title = "Company Revenue";
    List<Sp_Get_Company_Summary_Revenue_Result> comapnyrevenuesummary = (List<Sp_Get_Company_Summary_Revenue_Result>)ViewBag.CompanySummaryRevenue;
}

@{decimal Totalcombinedprofit = 0;}
@{decimal alkaoisprofit = 0;}
@{decimal jetlineprofit = 0;}
@{decimal sporttruckingprofit = 0;}

@if (comapnyrevenuesummary.Count == 3)
{

    {
        alkaoisprofit = Convert.ToDecimal(comapnyrevenuesummary[0].TotalAmount);
        jetlineprofit = Convert.ToDecimal(comapnyrevenuesummary[1].TotalAmount);
        sporttruckingprofit = Convert.ToDecimal(comapnyrevenuesummary[2].TotalAmount);

        Totalcombinedprofit = Convert.ToDecimal(comapnyrevenuesummary[0].TotalAmount) + Convert.ToDecimal(comapnyrevenuesummary[1].TotalAmount)
+ Convert.ToDecimal(comapnyrevenuesummary[2].TotalAmount);
    }
}
else if (comapnyrevenuesummary.Count == 2)
{

    {
        alkaoisprofit = Convert.ToDecimal(comapnyrevenuesummary[0].TotalAmount);
        jetlineprofit = Convert.ToDecimal(comapnyrevenuesummary[1].TotalAmount);

        Totalcombinedprofit = Convert.ToDecimal(comapnyrevenuesummary[0].TotalAmount) + Convert.ToDecimal(comapnyrevenuesummary[1].TotalAmount);
    }
}
else if (comapnyrevenuesummary.Count == 1)
{

    {
        alkaoisprofit = Convert.ToDecimal(comapnyrevenuesummary[0].TotalAmount);
        Totalcombinedprofit = Convert.ToDecimal(comapnyrevenuesummary[0].TotalAmount);
    }
}



<head>
    <style>

        /*  #Loadshead {
            position: sticky;
            top: 0;
            padding: 5px;
            z-index: 100;
        }*/

        div#tblannualtotals_filter {
            position: sticky;
            top: 0;
            padding: 5px;
            z-index: 100;
            background: darkblue;
            color: white !important;
            width: 21.5% !important;
        }


        div#tblannualtotals_length {
            position: sticky !important;
            top: 0 !important;
            padding: 5px !important;
            z-index: 100 !important;
            background: darkblue !important;
            color: white !important;
            width: 78.5% !important;
            height: 51px !important;
        }

        thead {
            position: sticky !important;
            top: 50px !important;
            z-index: 100 !important;
        }

        select {
            color: white !important;
        }

        option {
            color: black !important;
        }

        input[type="search"] {
            color: white !important;
        }

       /* label {
            color: white !important
        }*/
    </style>

</head>
<div class="content">
    <div class="row">
        <div class="col-md-3">
            <h4 class="page-title">Company Revenue <a href="#"><i onclick="RefereshList()" class="fa fa-refresh"></i></a></h4>
            <span style="color:red;" id="fademsg">@ViewBag.error</span>
        </div>
        <div class="col-md-4">

            <select id="ddlAgent" required name="ddlAgent" onchange="ReloadList(this)" class="form-control js-example-basic-single">
                <option value="0">All Agents</option>
                @foreach (var item in ViewBag.AgentList)
                {
                    <text>
                        @if (item.User_ID == ViewBag.UserId)
                        {
                            <option selected value="@item.User_ID">@item.UserName</option>
                        }
                        else
                        {
                            <option value="@item.User_ID">@item.UserName</option>
                        }


                    </text>
                }
            </select>
        </div>
        <div class="col-md-2">

            <select id="ddlyear" required name="ddlyear" onchange="ReloadList(this)" class="form-control js-example-basic-single">

                @foreach (var item in ViewBag.ddlYears)
                {
                    <text>
                        @if (item.Value == Convert.ToString(@ViewBag.CurrentYear))
                        {
                            <option selected value="@item.Value">@item.Value</option>
                        }
                        else
                        {
                            <option value="@item.Value">@item.Value</option>
                        }


                    </text>
                }
            </select>
        </div>
        <div class="col-md-2">

            <select id="ddlmonth" required name="ddlmonth" onchange="ReloadList()" class="form-control js-example-basic-single">
                <option selected value="0">All Months</option>
                @foreach (var item in ViewBag.Days)
                {

                    <text>
                        @if (item.ID == Convert.ToString(@ViewBag.CurrentMonth))
                        {
                            <option selected value="@item.ID">@item.Day</option>
                        }
                        else
                        {
                            <option value="@item.ID">@item.Day</option>
                        }


                    </text>
                }

            </select>
        </div>
    </div>


    <div class="content">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                <h4 style="font-weight:Bold">ALKAIOS TRANSPORTATION</h4>
                <div class="dash-widget" style="    background-color: #ffbc35">
                    <span class="dash-widget-bg3" style="        background-color: #ffbc35"><i class="fa fa-money" aria-hidden="true"></i></span>
                    <div class="dash-widget-info text-right">
                        <h3 style="color:white" id="GrossProfit">
                            @alkaoisprofit.ToString("#,##0.00")
                        </h3>
                        <span style="font-size: 14px;background-color: white;color: #ffbc35;font-weight:bold" class="widget-title3">
                            Total  Gross Profit
                            <i style="        background-color: #ffbc35;color: white" class="fa fa-check" aria-hidden="true"></i>
                        </span>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                <h4 style="font-weight:Bold">JETLINE TRANSPORT</h4>
                <div class="dash-widget" style=" background-color: #7a92a3">
                    <span class="dash-widget-bg3" style=" background-color: #7a92a3"><i class="fa fa-money" aria-hidden="true"></i></span>
                    <div class="dash-widget-info text-right">
                        <h3 style="color:white" id="GrossProfit">@jetlineprofit.ToString("#,##0.00")</h3>
                        <span style="font-size: 14px; background-color: white; color: #7a92a3; font-weight: bold" class="widget-title3">
                            Total  Gross Profit
                            <i style=" background-color: #7a92a3; color: white" class="fa fa-check" aria-hidden="true"></i>
                        </span>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                <h4 style="font-weight:Bold">SPORT TRUCKING</h4>
                <div class="dash-widget" style=" background-color: #55ce63">
                    <span class="dash-widget-bg3" style=" background-color: #55ce63"><i class="fa fa-money" aria-hidden="true"></i></span>
                    <div class="dash-widget-info text-right">
                        <h3 style="color:white" id="GrossProfit">@sporttruckingprofit.ToString("#,##0.00")</h3>
                        <span style="font-size: 14px; background-color: white; color: #55ce63; font-weight: bold" class="widget-title3">
                            Total  Gross Profit
                            <i style=" background-color: #55ce63; color: white" class="fa fa-check" aria-hidden="true"></i>
                        </span>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                <h4 style="font-weight:Bold">TOTAL COMBINED GROSS</h4>
                <div class="dash-widget" style=" background-color: darkgreen ">
                    <span class="dash-widget-bg3" style=" background-color: darkgreen "><i class="fa fa-money" aria-hidden="true"></i></span>
                    <div class="dash-widget-info text-right">
                        <h3 style="color:white" id="GrossProfit">@Totalcombinedprofit.ToString("#,##0.00")</h3>
                        <span style="font-size: 14px; background-color: white; color: darkgreen; font-weight: bold" class="widget-title3">
                            Total Combined
                            <i style=" background-color: darkgreen; color: white" class="fa fa-check" aria-hidden="true"></i>
                        </span>
                    </div>
                </div>
            </div>




        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive" style="max-height: 700px !important;">
                @*<table class="table table-border table-striped custom-table  g-dataTable mb-0">*@

                <table style="font-size:12px;width:99.9%;" class="table table-condensed table-fit table-sm table-striped g-dataTable  mb-0" id="tblannualtotals">
                    <thead>
                        <tr>
                            <th>Agent </th>
                            <th>ALKAIOS TRANSPORTATION </th>
                            <th>JETLINE TRANSPORT</th>
                            <th>SPORT TRUCKING </th>

                            <th>Commission (%)</th>
                            <th>Commission under  ALKAIOS </th>
                            <th>Commission under  JETLINE </th>
                            <th>Commission under  SPORT </th>
                            <th>Salary</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in @ViewBag.CompanyRevenue)
                        {
                            <tr>
                                <td>@item.UserName</td>
                                <td>@item.ALKAIOS</td>
                                <td>@item.JETLINE</td>
                                <td>@item.Sporttruckingt</td>

                                <td>@item.Commissionpercentage</td>
                                <td>@item.Alkaiosagentcommission</td>
                                <td>@item.jetlineagentcommission</td>
                                <td>@item.sportagentcommission</td>
                                <td>@item.salary</td>
                                <td>@item.CompanyTotalAmount</td>
                            </tr>
                        }


                    </tbody>
                    <tfoot  style="color:white !important;">
                        <tr><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th></tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>

</div>

<script>

    function RefereshList() {
        location.reload();
    }

    function ReloadList(agentid) {

        /*var year = year.value;*/
        //var agent = agentid.value;
        var agent = $("#ddlAgent").val();;
        var checkajax = 1;
        //alert(agent);
        //alert(checkajax);

        if (agent == null) {
            agent = 0;
        }

        var year = $("#ddlyear").val();
        var month = $("#ddlmonth").val();

        if (year == null) {
            year = 0;
        }
        if (month == null) {
            month = 0;
        }

        var model = {
            ddlAgentvalue: agent,
            Year: year,
            ddlmonth: month,
            CheckAjax: checkajax
        };
        console.log(model);
          $.ajax({
            url: '@Url.Action("ReloadCompanyreveneu", "revenue")',
            type: "POST",
              data: JSON.stringify(model),
              contentType: "application/json; charset=utf-8",
              dataType: "json",
              success: function (result) {
                  window.location = result.url;
              }
        });
    }

    jQuery(document).ready(function () {

          var JqueryTableSearchValue = @Html.Raw(Json.Encode(ViewBag.JqueryTableSearchValue));

        var carrierscroll = @Html.Raw(Json.Encode(ViewBag.carrierscroll));

        jQuery('#ddlyear').select2();
        jQuery('#ddlmonth').select2();

        var row = $('tr');
        var table = $('table');
        var w = $(window);
        var row = table.find('tr').eq(carrierscroll);

        if (row.length) {
            w.scrollTop(row.offset().top - (w.height() / 2));
        }



        jQuery('#ddlAgent').select2();
        $('#tblannualtotals').DataTable({
            "footerCallback": function (row, data, start, end, display) {
                var api = this.api(), data;

                // converting to interger to find total
                var intVal = function (i) {
                    return typeof i === 'string' ?
                        i.replace(/[\$,]/g, '') * 1 :
                        typeof i === 'number' ?
                            i : 0;
                };

                // computing column Total of the complete result 
                var monTotal = api
                    .column(1)
                    .data()
                    .reduce(function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0);

                var tueTotal = api
                    .column(2)
                    .data()
                    .reduce(function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0);

                var wedTotal = api
                    .column(3)
                    .data()
                    .reduce(function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0);

                //var thuTotal = api
                //    .column(4)
                //    .data()
                //    .reduce(function (a, b) {
                //        return intVal(a) + intVal(b);
                //    }, 0);

                var friTotal = api
                    .column(5)
                    .data()
                    .reduce(function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0);

                var wedTotal1 = api
                    .column(6)
                    .data()
                    .reduce(function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0);

                var thuTotal1 = api
                    .column(7)
                    .data()
                    .reduce(function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0);

                //var friTotal1 = api
                //    .column(8)
                //    .data()
                //    .reduce(function (a, b) {
                //        return intVal(a) + intVal(b);
                //    }, 0);
                var monTotal1 = api
                    .column(9)
                    .data()
                    .reduce(function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0);

                // Update footer by showing the total with the reference of the column index 
                var numFormat = $.fn.dataTable.render.number(',', '.', 2, '').display;
                $(api.column(0).footer()).html('Total');
                $(api.column(1).footer()).html(numFormat(monTotal));
                $(api.column(2).footer()).html(numFormat(tueTotal));
                $(api.column(3).footer()).html(numFormat(wedTotal));
                //$(api.column(4).footer()).html(thuTotal);
                $(api.column(5).footer()).html(numFormat(friTotal));
                $(api.column(6).footer()).html(numFormat(wedTotal1));
                $(api.column(7).footer()).html(numFormat(thuTotal1));
                //$(api.column(8).footer()).html(friTotal1);
                $(api.column(9).footer()).html(numFormat(monTotal1));
            },
            //"search": {
            //    "search": JqueryTableSearchValue
            //},
           "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
            "pageLength": -1,
            "fixedHeader": true,
            "columnDefs": [
                {
                    "orderable": false,
                    "render": $.fn.dataTable.render.number(',', '.', 2, ''),
                    "targets": [1, , 2, 3, 5, 6, 7, 8, 9],
                },
                /*{ responsivePriority: 10001, targets: 2 },*/
            ],
            responsive: true,
            //scrollY: "700px",
            //"sScrollX": "100%",
        });
    });



</script>
