@using Dieseltech.Models;
@{
    ViewBag.Title = "Company Revenue";
    
}






<head>
    <style>


        div#tblannualtotals_filter {
            position: sticky;
            top: 0;
            padding: 5px;
            z-index: 100;
            background: darkblue;
        }

        /*  #Loadshead {
            position: sticky;
            top: 0;
            padding: 5px;
            z-index: 100;
        }*/

        div#tblannualtotals_length {
            position: sticky !important;
            top: 0 !important;
            padding: 5px !important;
            z-index: 100 !important;
            background: darkblue !important;
            color: white !important;
            width: 79.5% !important;
            /*height: 4.5% !important;*/
        }

        select {
            color: white !important;
        }

        option {
            color: black !important;
        }

        label {
            color: white !important
        }

        input[type="search"] {
            color: white !important;
        }
    </style>

</head>
<div class="content">
    <div class="row">
        <div class="col-md-3">
            <h4 class="page-title">Customer Revenue <i onclick="RefereshList()" class="fa fa-refresh"></i></h4>
            <span style="color:red;" id="fademsg">@ViewBag.error</span>
        </div>
        @*<div class="col-md-4">

            <select id="ddlAgent" required name="ddlAgent" onchange="ReloadList(this)" class="form-control js-example-basic-single">
                <option value="0">All Agents</option>
                @foreach (var item in ViewBag.AgentList)
                {
                    <text>
                        @if (item.User_ID == ViewBag.UserId)
                        {
                            <option selected value="@item.User_ID">@item.UserName</option>
                        }
                        else
                        {
                            <option value="@item.User_ID">@item.UserName</option>
                        }


                    </text>
                }
            </select>
        </div>*@
        <div class="col-md-2">

            <select id="ddlyear" required name="ddlyear" onchange="ReloadList(this)" class="form-control js-example-basic-single">

                @foreach (var item in ViewBag.ddlYears)
                {
                    <text>
                        @if (item.Value == Convert.ToString(@ViewBag.CurrentYear))
                        {
                            <option selected value="@item.Value">@item.Value</option>
                        }
                        else
                        {
                            <option value="@item.Value">@item.Value</option>
                        }


                    </text>
                }
            </select>
        </div>
        <div class="col-md-2">

            <select id="ddlmonth" required name="ddlmonth" onchange="ReloadList()" class="form-control js-example-basic-single">
                <option selected value="0">All Months</option>
                @foreach (var item in ViewBag.Days)
                {

                    <text>
                        @if (item.ID == Convert.ToString(@ViewBag.CurrentMonth))
                        {
                            <option selected value="@item.ID">@item.Day</option>
                        }
                        else
                        {
                            <option value="@item.ID">@item.Day</option>
                        }


                    </text>
                }

            </select>
        </div>
    </div>


    @*<div class="content">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                <h4 style="font-weight:Bold">ALKAIOS TRANSPORTATION</h4>
                <div class="dash-widget" style="    background-color: #ffbc35">
                    <span class="dash-widget-bg3" style="        background-color: #ffbc35"><i class="fa fa-money" aria-hidden="true"></i></span>
                    <div class="dash-widget-info text-right">
                        <h3 style="color:white" id="GrossProfit">
                            @alkaoisprofit
                        </h3>
                        <span style="font-size: 14px;background-color: white;color: #ffbc35;font-weight:bold" class="widget-title3">
                            Total  Gross Profit
                            <i style="        background-color: #ffbc35;color: white" class="fa fa-check" aria-hidden="true"></i>
                        </span>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                <h4 style="font-weight:Bold">JETLINE TRANSPORT</h4>
                <div class="dash-widget" style=" background-color: #7a92a3">
                    <span class="dash-widget-bg3" style=" background-color: #7a92a3"><i class="fa fa-money" aria-hidden="true"></i></span>
                    <div class="dash-widget-info text-right">
                        <h3 style="color:white" id="GrossProfit">@jetlineprofit</h3>
                        <span style="font-size: 14px; background-color: white; color: #7a92a3; font-weight: bold" class="widget-title3">
                            Total  Gross Profit
                            <i style=" background-color: #7a92a3; color: white" class="fa fa-check" aria-hidden="true"></i>
                        </span>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                <h4 style="font-weight:Bold">SPORT TRUCKING</h4>
                <div class="dash-widget" style=" background-color: #55ce63">
                    <span class="dash-widget-bg3" style=" background-color: #55ce63"><i class="fa fa-money" aria-hidden="true"></i></span>
                    <div class="dash-widget-info text-right">
                        <h3 style="color:white" id="GrossProfit">@sporttruckingprofit</h3>
                        <span style="font-size: 14px; background-color: white; color: #55ce63; font-weight: bold" class="widget-title3">
                            Total  Gross Profit
                            <i style=" background-color: #55ce63; color: white" class="fa fa-check" aria-hidden="true"></i>
                        </span>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                <h4 style="font-weight:Bold">TOTAL COMBINED GROSS</h4>
                <div class="dash-widget" style=" background-color: darkgreen ">
                    <span class="dash-widget-bg3" style=" background-color: darkgreen "><i class="fa fa-money" aria-hidden="true"></i></span>
                    <div class="dash-widget-info text-right">
                        <h3 style="color:white" id="GrossProfit">@Totalcombinedprofit</h3>
                        <span style="font-size: 14px; background-color: white; color: darkgreen; font-weight: bold" class="widget-title3">
                            Total Combined
                            <i style=" background-color: darkgreen; color: white" class="fa fa-check" aria-hidden="true"></i>
                        </span>
                    </div>
                </div>
            </div>




        </div>
    </div>*@

    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                @*<table class="table table-border table-striped custom-table  g-dataTable mb-0">*@

                <table style="font-size:12px;width:100%" class="table table-condensed table-fit table-sm table-striped g-dataTable  mb-0" id="tblannualtotals">
                    <thead>
                        <tr>
                            <th>Customer Id </th>
                            <th>Customer Name </th>
                            <th>ALKAIOS TRANSPORTATION </th>
                            <th>JETLINE TRANSPORT</th>
                            <th>SPORT TRUCKING </th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Dieseltech.Models.Sp_Get_Customer_Revenue_Result item in @ViewBag.CustomerRevenue)
                        {
                            <tr>
                                <td>@item.BrokerId</td>
                                <td>@item.Name</td>
                                <td>@item.ALKAIOS</td>
                                <td>@item.JETLINE</td>
                                <td>@item.Sporttruckingt</td>
                                <td>@item.CustomerTotalAmount</td>
                            </tr>
                        }


                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

<script>

    function RefereshList() {
        location.reload();
    }

    function ReloadList(agentid) {

        
        //var agent = $("#ddlAgent").val();;
        var checkajax = 1;
        //alert(agent);
        //alert(checkajax);

        //if (agent == null) {
        //    agent = 0;
        //}

        var year = $("#ddlyear").val();
        var month = $("#ddlmonth").val();

        if (year == null) {
            year = 0;
        }
        if (month == null) {
            month = 0;
        }

        var model = {
            Year: year,
            ddlmonth: month
        };
        console.log(model);
          $.ajax({
            url: '@Url.Action("Reloadcustomerrevenue", "revenue")',
            type: "POST",
              data: JSON.stringify(model),
              contentType: "application/json; charset=utf-8",
              dataType: "json",
              success: function (result) {
                  window.location = result.url;
              }
        });
    }

    jQuery(document).ready(function () {

          var JqueryTableSearchValue = @Html.Raw(Json.Encode(ViewBag.JqueryTableSearchValue));

        var carrierscroll = @Html.Raw(Json.Encode(ViewBag.carrierscroll));

        jQuery('#ddlyear').select2();
        jQuery('#ddlmonth').select2();

        var row = $('tr');
        var table = $('table');
        var w = $(window);
        var row = table.find('tr').eq(carrierscroll);

        if (row.length) {
            w.scrollTop(row.offset().top - (w.height() / 2));
        }



        jQuery('#ddlAgent').select2();
        $('#tblannualtotals').DataTable({
            "search": {
                "search": JqueryTableSearchValue
            },
           "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
            "pageLength": -1
        });
    });



</script>
