@{ Layout = null; }
<!DOCTYPE html>
<html lang="en">

<!-- login23:11-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" type="image/x-icon" href="~/assets/img/Logo_2.png">


    <title>Dieseltech</title>
    <meta name="description" content="description of your website/webpage, make sure you use keywords!" />
    <meta property="og:title" content="short title of your website/webpage" />
    <meta property="og:url" content="https://dieseltech.studio" />
    <meta property="og:description" content="description of your website/webpage" />
    <meta property="og:image" content="https://dieseltech.studio/assets/img/Logo_2.png" />
    <meta property="og:type" content="website" />
    <title>Dieseltech</title>
    <link rel="stylesheet" type="text/css" href="~/assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/style.css">



    @*New design links*@
    <link rel="stylesheet" href="~/assets/css/loginstyle.css" />
    <link rel="stylesheet" href="~/assets/vendor/fonts/fontawesome.css" />
    <link rel="stylesheet" href="~/assets/vendor/css/rtl/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="~/assets/vendor/css/rtl/theme-semi-dark.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="~/assets/vendor/css/pages/page-auth.css">
    <style>
    </style>
</head>
<body>


    <span style="color:red;" id="fademsg">@ViewBag.error</span>
    @using (Html.BeginForm("Index", "Account", FormMethod.Post))
    {
@Html.AntiForgeryToken()
                <form class="form-signin">
                    <div class="authentication-wrapper authentication-cover">
                        <div class="authentication-inner row m-0">

                            <div class="d-none d-lg-flex col-lg-6 col-xl-6 align-items-center p-5" style="background-color:white">
                                <div class="w-100 d-flex justify-content-center">

                                    <br>
                                    <img src="~/assets/img/all_agents.jpg" style="width:100%">
                                </div>
                            </div>

                            <div class="d-flex col-12 col-lg-6 col-xl-6 align-items-center authentication-bg p-sm-5 p-4" style="background-color:whitesmoke">
                                <div class="w-px-400 mx-auto">



                                    <h4 class="mb-2">

                                        Welcome to Dieseltech Studio
                                    </h4>
                                    <p class="mb-4">Please sign-in to your account and start the adventure</p>

                                    <br>
                                    <div class="mb-3">


                                        <label for="email" class="form-label">User Name</label>
                                        <input type="text" required autofocus="" class="form-control" id="userLogin" name="userLogin">

                                        <div id="lblEmail" class="invalid-feedback">
                                        </div>

                                    </div>
                                    <div class="mb-3 form-password-toggle">
                                        <div class="d-flex justify-content-between">
                                            <label class="form-label" for="password">Password</label>
                                            <a class="hyperlink" href="@Url.Action("ForgetPassword", "Account")">
                                                <small>Forgot Password?</small>
                                            </a>
                                        </div>
                                        <div class="input-group input-group-merge has-validation">
                                            <input type="password" id="userPassword" name="userPassword" class="form-control" placeholder="············" aria-describedby="password">


                                        </div>
                                    </div>

                                    <div class="form-group text-center">
                                        <button type="submit" style="width:100%;border-color:@Session["Color"] !important;background-color: @Session["Color"] !important" ; class="btn btn-primary account-btn">
                                            Sign in
                                        </button>
                                    </div>
                                    
                                    <p class="text-center">
                                        <span>Don’t have an account?</span>
                                        <a href="@Url.Action("Register", "Account")" class="hyperlink">
                                            <span>Register Now</span>
                                        </a>
                                    </p>

                                </div>

                            </div>
                        </div>
                    </div>

                    </form>}

                    @*<div class="main-wrapper account-wrapper">
                        <div class="account-page">
                            <div class="account-center">
                                <div class="account-box">
                                    <span style="color:red;" id="fademsg">@ViewBag.error</span>
                                    @using (Html.BeginForm("Index", "Account", FormMethod.Post))
                                    {
                    @Html.AntiForgeryToken()
                                        <form class="form-signin">
                                            <div class="account-logo">
                                                <img style="max-height:120px !important" src="~/assets/img/Logo_1.png" />



                                            </div>
                                            <div class="form-group">
                                                <label> User Name</label>
                                                <input type="text" required autofocus="" class="form-control" id="userLogin" name="userLogin">
                                            </div>
                                            <div class="form-group">
                                                <label>Password</label>
                                                <input type="password" required class="form-control" id="userPassword" name="userPassword">
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group text-left">
                                                        <a href="@Url.Action("Index", "Privacy")" style="text-decoration:underline">Privacy Policy</a>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group text-right">
                                                        <a href="@Url.Action("ForgetPassword", "Account")">Forgot your password?</a>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group text-center">
                                                <button type="submit" style=" background-color: @Session["Color"] !important" ; class="btn btn-primary account-btn">Login</button>
                                            </div>
                                            <div class="text-center register-link">
                                                Don’t have an account? <a href="@Url.Action("Register", "Account")">Register Now</a>
                                            </div>


                                        </form>}
                                </div>
                            </div>
                        </div>
                    </div>*@


                    <script src="~/assets/js/jquery-3.2.1.min.js"></script>
                    <script src="~/assets/js/popper.min.js"></script>
                    <script src="~/assets/js/bootstrap.min.js"></script>
                    <script src="~/assets/js/app.js"></script>


            </body>

</html>


<script src="~/assets/js/jquery-1.10.2.js"></script>

<script type="text/javascript">

    $(document).ready(function () {
        $("#fademsg").fadeOut(5000);
    });


</script>
